<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionStrings>
		
	<add name="MySqlConnection" connectionString="Server=db24058.public.databaseasp.net; Database=db24058; User Id=db24058; Password=S!r62fR-q%8C; Encrypt=True; TrustServerCertificate=True; MultipleActiveResultSets=True;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	
	

</configuration> 